body, table {
	font-size: 15px;
	background-image: url("../images/background3.jpg");
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

body {
	font-family: 'Microsoft Yahei', '΢���ź�', Arial, 'Hiragino Sans GB', '����';
	color: #555;
}

table {
	table-layout: fixed;
	empty-cells: show;
	border-collapse: collapse;
	margin: 0 auto;
}

th {
	border-width: 1px;
	padding: 20px;
	width: 100px;
	border-style: ridge;
	border-color: #666666;
	background-color: #dedede;
}

td {
	border-width: 1px;
	padding: 5px;
	border-style: solid;
	border-color: #666666;
	background-color: #ffffff;
}
.button_operation{
	float:right;
}
.hi{
	font-size: 20px;
	color:solid;
	font-family:΢���ź�;
}
#footer{
	position:fixed;
	bottom: 0px;
	font-family:΢���ź�;
	left:40%;
}

alert_li{
	font-size:800px;
	color:red;
	
}


.deal_div{
	position:absolute;
	width:120px;
	height:100%;
	left:10px;
	top:23%;
	
}