<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cn.hnust.dao.StudentDao">
	<resultMap id="base" type="com.cn.hnust.pojo.Student" >
			<id column="id" property="id" />
			<result column="name" property="name" />
			<result column="class_name" property="className" />
			<result column="age" property="age" />
			<result column="sex" property="sex" />
			<result column="teacher_id" property="teacherId" />
   </resultMap>
   <!-- 一对多映射 -->
   <resultMap id="queryCourse" type="com.cn.hnust.pojo.Student">
            <id column="id" property="id" />
			<result column="name" property="name" />
			<result column="class_name" property="className" />
			<result column="age" property="age" />
			<result column="sex" property="sex" />
			<result column="teacher_id" property="teacherId" />
		<collection property="course" javaType="java.util.List" ofType="com.cn.hnust.pojo.Course">  
            <id column="id" property="id"  />  
            <result column="course_name" property="courseName"  />             
        </collection>  	
	  
   </resultMap>
  
	<!-- 使用sql片段 -->
	
	<sql id="student_context">
		id,name,class_name as className,age,sex,teacher_id as
		teacherId
	</sql>
	
    <!-- 根据姓名查找 -->
    <select id="findByName" parameterType="string" resultType="com.cn.hnust.pojo.Student">
     select 
       <include refid="student_context"></include>
     from student_t
     where
     name=#{name}
    </select>
    <!-- 根据id查找 -->
	<select id="getById" parameterType="java.lang.Integer" resultMap="base">  <!-- resultType="com.cn.hnust.pojo.Student" -->
	select
	  <include refid="student_context"></include>
	  from student_t
	  where 
	  id=#{id}
	</select>
	<select id="queryStudentCourse" resultMap="queryCourse"> 
	   select 
	         s.id,
	         s.name,
	         s.class_name,
	         s.age,
	         s.sex,
	         s.teacher_id,
	         c.id,
	         c.course_name
	    from 
	         student_t s 
	    left join 
	         course_t c
	     on 
	         s.id = c.student_id
	</select>
	
	<!-- 老师对学生一对多 -->
	
	
	
	
	
	
	<!-- 根据id更新数据 -->
    <update id="updateStudent" parameterType="com.cn.hnust.pojo.Student">
      update student_t set  name=#{name},class_name =#{className},age=#{age},
      sex=#{sex},teacher_id=#{teacherId} 
      where id =#{id}
    </update>
    
    
    <!-- 添加学生信息-->
    <insert id="insertStudent" parameterType="com.cn.hnust.pojo.Student">
       insert into student_t values(#{id},#{name},#{className},#{age},#{sex},#{teacherId})
    </insert>
    <!-- 根据id删除 -->
    <delete id="deleteStudent" parameterType="java.lang.Integer">
       delete from student_t where id=#{id}
    </delete>
</mapper>